:root {
    --middle-road-text-left: 220px;
}
/* 整个滚动条轨道的宽度和高度（水平滚动条高度） */
::-webkit-scrollbar {
}

.top-layout {
    /* 电子数字效果 */
    font-family: Orbitron, monospace;
    width: 100vw;
    overflow: hidden;
    background-color: #eaeaea;
}
/*第一屏------------------------------------------------*/
.first-screen {
    position: relative;
    height: 100vh;   /* dvh不支持就回退：所有浏览器都支持 */
    /*height: 100dvh; !* 始终等于动态视口高度 *!*/
    background-color: rgba(0,0,0,0.85);
}
.black-area {
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100vw;
    height: 40vh;
}
.middle-road {
    position: absolute;
    top: 40vh;
    left: 0;
    height: 20vh;
    /*background-color: #76c884;*/
    /*色相、饱和度、亮度。色相是一个环，0是红，然后按红，橙，黄，绿，青，蓝，紫渐变，360又是红。饱和度是颜色强度，0就是灰色(亮度不是0)。亮度是亮暗，0就是黑色，100是白色*/
    background-color: hsla(140, 48%, 54%, 1);
    width: 0;
    z-index: 10;
}
.middle-road-text {
    position: absolute;
    display: flex;
    align-items: center;
    left: var(--middle-road-text-left);
    font-size: 15vh;
    font-weight: 700;
    width: 0;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 10;
}
.notion-obj {
    position: absolute;
    top: 40vh;
    width: 20vh;
    height: 20vh;
    background-color: #fff;
    border-radius: 0 8px 8px 0;
    z-index: 10;
}
.introduce-area {
    position: absolute;
    left: 1300px;
    width: 600px;
    /*background-color: #000;*/
    height: 100vh;
}
.introduce-block1 {
    position: absolute;
    top: calc(40vh - 4vw - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    padding: 2vw;
    background-color: hsla(63, 97.47%, 67.76%, 1);
    color: #1a1a1a;
    font-size: 60px;
    font-weight: 700;
    border-radius: 10px;
}
.introduce-block2 {
    position: absolute;
    top: calc(60vh + 20px);
    left: -20px;
    width: 260px;
    padding: 2vw;
    background-color: hsla(195, 97.47%, 67.76%, 1);
    color: #1a1a1a;
    font-size: 60px;
    font-weight: 700;
    border-radius: 10px;
}
.introduce-block3 {
    position: absolute;
    top: calc(60vh + 20px);
    left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 2vw;
    background-color: hsla(23, 97.47%, 47.76%, 1);
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    border-radius: 10px;
}
.introduce-block4 {
    position: absolute;
    top: calc(40vh - 4vw - 160px);
    left: 400px;
    width: 400px;
    padding: 2vw;
    background-color: #fff;
    color: #1a1a1a;
    font-size: 50px;
    font-weight: 700;
    border-radius: 10px;
    line-height: 24px;
}
/*第二屏------------------------------------------------*/
.second-screen {
    position: relative;
    height: 100vh;   /* dvh不支持就回退：所有浏览器都支持 */
    /*height: 100dvh; !* 始终等于动态视口高度 *!*/
    /*background-color: #eaeaea;*/
}
