.header-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 44px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,.22);
    padding: 0 20px;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.header-user {
    display: flex;
    position: absolute;
    right: 100px;
    font-weight: 400;
    cursor: pointer;
}
.header-register {
    position: absolute;
    right: 60px;
    font-weight: 400;
    cursor: pointer;
}
.header-logout {
    display: inline-block;
    margin-left: 8px;
}


/* HTML: <div class="loader"></div> */
.header-loading {
    height: 60px;
    aspect-ratio: 1;
    position: relative;
    scale: 0.6
}
.header-loading::before,
.header-loading::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    transform-origin: bottom;
}
.header-loading::after {
    background:
        radial-gradient(at 75% 15%,#fffb,#0000 35%),
        radial-gradient(at 80% 40%,#0000,#0008),
        radial-gradient(circle  5px,#fff 94%,#0000),
        radial-gradient(circle 10px,#000 94%,#0000),
        linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
        linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
        #000;
    background-repeat: no-repeat;
    animation: l20 1s infinite cubic-bezier(0.5,120,0.5,-120);
}
.header-loading::before {
    background:#ddd;
    filter: blur(8px);
    transform: scaleY(0.4) translate(-13px, 0px);
}
@keyframes l20 {
    30%,70% {transform:rotate(0deg)}
    49.99%  {transform:rotate(0.2deg)}
    50%     {transform:rotate(-0.2deg)}
}
