.game-top {
    background-image: url("/public/game/clouds/clouds4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: calc(100vh - 44px);
}
.game-card-line {
    display: flex;
    /*align-items: center;*/
    /*margin-top: 10vh;*/
}
.game-card {
    position: relative;
    height: 190px;
    width: 190px;
    border-radius: 10px;
    /*background-color: rgba(0,0,0,0.1);*/
    cursor: pointer;
}
.game-fate {
    position: absolute;
    top: 0;
    width: 190px;
    height: 190px;
    background-repeat: no-repeat;
    background-size: 1600px 1600px;
    background-image: url("/public/game/fate/fate.png");
    border-radius: 10px;
}
/*.game-fate:hover {*/
/*    transition-property: opacity;*/
/*    transition-duration: 0.3s;*/
/*    opacity: 0;*/
/*}*/
.game-desc {
    color: #ddd;
    padding: 10px;
    font-size: 16px;
    /*opacity: 1;*/
}
.game-fate1 {
    background-position: -180px -210px;
}
.game-fate2 {
    background-position: -390px -210px;
}
.game-fate3 {
    background-position: -600px -210px;
}

/*战斗场景*/
.game-fight-top {
    position: relative;
    background-image: url("/public/game/fight/fight-back2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: calc(100vh - 44px);
}
.game-owner {
    position: absolute;
    top: 40vh;
    left: 100px;
}
.game-enemy1 {
    position: absolute;
    left: 50vw;
    top: 40vh;
}
.game-enemy2 {
    position: absolute;
    left: calc(50vw + 240px);
    top: 40vh;
}
.game-enemy3 {
    position: absolute;
    left: calc(50vw + 240px + 240px);
    top: 40vh;
}
.game-card-head {
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    right: 5vw;
    width: 1300px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0,0,0,0.6);
}
.game-card-one {
    margin-right: 10px;
    height: 180px;
    width: 120px;
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0;
    transition-property: margin-top;
    transition-duration: 0.2s;
}
.game-selected-card {
    margin-top: -40px;
    transition-property: margin-top;
    transition-duration: 0.2s;
}


.game-fire {
    width: 236px; /* 火球的宽度 */
    height: 140px; /* 火球的高度 */
    background-image: url('/public/game/fire/Idle.png');
    background-repeat: no-repeat;
    animation: moveFireball 800ms steps(1) infinite;
    background-size: 1792px 256px;
}
@keyframes moveFireball {
    0% { background-position: -30px; }
    16.6% { background-position: -330px; }
    32% { background-position: -630px; }
    48% { background-position: -930px; }
    64% { background-position: -1230px; }
    80% { background-position: -1526px; }
    100% { background-position: -1830px; }
}
